{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptStringOnce . "email" "Enter your Git email address" -}}
{{- end -}}

{{- $name := "" -}}
{{- if (hasKey . "name") -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptStringOnce . "name" "Enter your Git username" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}

[diff]
    pager = "diffnav"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

